@model EfficiencyTrack.ViewModels.EntryViewModel.EntryCreateViewModel

@{
    ViewData["Title"] = "Нов запис";
}

<main class="container mt-4">
    <header class="mb-4">
        <h1>Създай нов запис</h1>
    </header>

    @if (TempData["Message"] != null)
    {
        <div id="success-message" class="alert alert-success" style="white-space: pre-line;">
            @TempData["Message"]
        </div>

        <script>
            setTimeout(function () {
                var msg = document.getElementById('success-message');
                if (msg) {
                    msg.style.display = 'none';
                }
            }, 10000); 
        </script>
    }

    

    @if (!ViewData.ModelState.IsValid)
    {
        foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <div class="alert alert-danger">@error.ErrorMessage</div>
        }
    }

    <form asp-action="Create" method="post" class="needs-validation">
        <div class="mb-3">
            <label asp-for="EmployeeCode" class="form-label"></label>
            <input asp-for="EmployeeCode" class="form-control" />
            <span asp-validation-for="EmployeeCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="RoutingCode" class="form-label"></label>
            <input asp-for="RoutingCode" class="form-control" />
            <span asp-validation-for="RoutingCode" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ShiftId" class="form-label"></label>
            <select asp-for="ShiftId" asp-items="ViewBag.Shifts" class="form-select"></select>
            <span asp-validation-for="ShiftId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Pieces" class="form-label"></label>
            <input asp-for="Pieces" class="form-control" placeholder="0" value="" />
            <span asp-validation-for="Pieces" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Scrap" class="form-label"></label>
            <input asp-for="Scrap" class="form-control" value="0" />
            <span asp-validation-for="Scrap" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="WorkedMinutes" class="form-label"></label>
            <input asp-for="WorkedMinutes" class="form-control" placeholder="Минути" value="" />
            <span asp-validation-for="WorkedMinutes" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Запази</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">Отказ</a>
    </form>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
