@{
    ViewData["Title"] = "Error";
    int code = ViewBag.Code is int c ? c : 500;

    string message = code switch
    {
        404 => "Страницата не беше намерена (404).",
        403 => "Нямате достъп до тази страница (403).",
        401 => "Неоторизиран достъп (401).",
        500 => "Възникна вътрешна грешка в сървъра (500).",
        _ => $"Възникна грешка (статус код: {code})."
    };
}
<link href="~/css/StyleSheet.css" rel="stylesheet" />

<div class="card">
    <div class="stars"></div>
    <img src="https://uiverse.io/astronaut.png" alt="Astronaut" class="image" />
    <div class="heading">@message</div>
    <a href="~/" class="btn-home">Обратно към началната страница</a>
</div>
