@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
    var env = Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") ?? "Production";
}

<h1 class="text-danger">Error.</h1>
@if (env == "Development")
{
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    @if (Model.ShowRequestId)
    {
        <p><strong>Request ID:</strong> <code>@Model.RequestId</code></p>
    }
}
else
{
    <h2>An unexpected error occurred. Please try again later.</h2>
}
